body {
    margin: 0;
	background: #76b852; fallback for old browsers
	background: -webkit-linear-gradient(right, #76b852, #8DC26F);
	background: -moz-linear-gradient(right, #76b852, #8DC26F);
	background: -o-linear-gradient(right, #76b852, #8DC26F);
	background: linear-gradient(to left, #76b852, #8DC26F);
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;     
}

.container {
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin: 0 auto;
  background:#ffFFFF;
}

html, #game{
    font-family: "Roboto", "Arial", "sans-serif";
}

#game{
    display: flex;
    align-items: center;
		margin-left:320px;
		margin-top:120px;
		max-width: 400px;
		box-shadow: 20px 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

		}

#boneyard{
    position: absolute;
    top: 10px;
    left: 10px;
		border:5px solid red;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin: 0 auto;
  background:blue;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
