html, body, #game{
    font-family: "Roboto", "Arial", "sans-serif";
}

body{
    margin: 0;
}

#game{
    display: flex;
    align-items: center;
    justify-content: center;
}

#boneyard{
    position: absolute;
    top: 10px;
    left: 10px;
}