/*
 * style.css 
 */
 body {
    margin: 0;
	background: #76b852; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #76b852, #8DC26F);
	background: -moz-linear-gradient(right, #76b852, #8DC26F);
	background: -o-linear-gradient(right, #76b852, #8DC26F);
	background: linear-gradient(to left, #76b852, #8DC26F);
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;     
}
 
.container, .container-fluid {
 padding-right: 15px;
 padding-left: 15px;
 background-color: #f9f9f9;
}
.row {
 margin-bottom: 20px;
}
[class*="col-"], header, footer, nav, aside, section, div[role="main"] {
 padding-top: 15px;
 padding-bottom: 15px;
 background-color: #FF0004;
 background-color: rgba(86,61,124,.15);
 border: 1px solid #ddd;
 border: 1px solid rgba(86,61,124,.2);
 text-align: center;
}
div[role="main"] {
 background-color: #fff;
}
div[role="main"], nav, aside {
 height: 600px;
}

aside[role="complementary"]
 { 
 width:200px;
 }
 
aside[role="complementary"] li {
	list-style:none;
	margin:2px;
 	border: 1px solid black;
	text-decoration:none;
 }
 
 aside[role="complementary"] li:hover
 { 
 text-decoration:none;
 background-color:#AD0002;
 }
 
aside[role="complementary"] li a
 { 
 text-decoration:none;
 }
 
#menu-item {
	text-decoration:none;
	
			}
 #salas {
	 margin-left:35px;
 }
 
#nomeusu {
	float:right;
}

.maxheight100 {
	max-height: 100px;
}


.logo {
  padding:45px;
  margin-bottom:-70px;
  margin-left:260px;
}

.room {
	margin-left:8px;
	float:left;
	border: 2px solid blue;
}
